/*  your css code here. If applicable */
.container {
	display: flex;
	direction: row;
	justify-content: space-between;
	align-items: flex-end;
	
}
.hero {
	display: flex;
	width: 600px;
	height: 200px;
	flex-direction: row;
	background-color:red;
}
#img {
	object-fit: cover;
	height: 200px;
	width: 300px;
}
